@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-semibold;
  src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppins-bold;
  src: url(../fonts/Poppins-Bold.ttf);
}
@media (max-width: 992px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    padding: 30px;
  }
  form.form-survey {
    margin-right: unset;
  }
  .wrapper-table {
    overflow-x: scroll;
    text-align: center;
  }
}
body {
  margin: 0;
  padding: 0;
}
:root {
  --basic-color: #468585;
}
.container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 100px;
  align-items: baseline;
}
.form-survey {
  background-color: #def9c4;
  color: #000;
  border: transparent;
  border-radius: 20px;
  padding: 20px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
  color: #50b498;
  gap: 10px;
}
.head {
  font-family: poppins-bold;
  font-size: 24px;
}
.subhead {
  font-family: poppins-semibold;
  font-size: 14px;
}
.name,
.age,
.gender,
.ask-smoke,
.list-smoke {
  font-family: poppins-semibold;
  font-size: 18px;
  color: #50b498;
}
.letter {
  font-family: poppins;
  color: var(--basic-color);
}
.fill {
  max-width: 400px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: transparent;
  font-family: poppins;
}
.button {
  width: 100%;
  font-family: poppins-semibold;
  letter-spacing: 1px;
  font-size: 18px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: transparent;
  background-color: var(--basic-color);
  color: #ffff;
}
.table {
  font-family: poppins;
  padding: 10px !important;
  border: 2px solid #50b498;
  color: #ffff;
  width: 100%;
}
.thead {
  background-color: var(--basic-color);
  font-size: 18px;
  font-family: poppins-bold;
}
.tbody {
  background-color: #def9c4;
  font-family: poppins-semibold;
  color: var(--basic-color);
}
th {
  padding: 10px;
}
td {
  padding: 5px;
}
